<div class="upload-page">
  <h2>Good <%= @greeting %>, <%= image_tag "spotify_icon.png" %><%= @user.name %>!</h2>
  <h4>Let's find you something to listen to.</h4>

  <div class="submit-choices">
    <div id="video-upload" class="video-choice btn">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      <h4>Upload a Video</h4>
    </div>
    <div id="video-capture" class="video-choice btn">
      <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
      <h4>Take a Video</h4>
    </div>
  </div>

  <div class="upload-box">
    <p class="error-message"></p>

    <p>Accepted file formats: AVI, MOV, MP4, MPG, WMV</p>
    <p>(Video must be between 10-20 seconds long)</p>

    <%= form_tag(playlist_path, multipart: true) do %>
      <div class="form-group">
          <%= file_field_tag :video, accept: "video/*", capture: "camcorder" , id: "capture"%>

          <%= submit_tag 'Upload', class: "btn btn-default submit-upload", disabled: "disabled" %>
        </div>
    <% end %>
  </div>

  <div class="record-box">
    <div id='player'>
      <video class='recorder' autoplay controls="controls" ></video>
    </div>
    <div class="video-control-buttons">
      <div id='record-button' class="btn"><span class="glyphicon glyphicon-record" aria-hidden="true"></span><h4>Record</h4></div>
      <div id='play-button' class="btn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span><h4>Play</h4></div>
      <div id='upload-button' class="btn"><span class="glyphicon glyphicon-" aria-hidden="true"></span>Upload</div>
      <div id='turn-off-button' class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span><h4>Turn off camera</h4></div>
    </div>
  </div>

  <br>
  <%= link_to "Not you? Sign out", signout_path %>

  <hr class="upload-hr">
  <h3 class="logo">music selfie</h3>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - -->

