<h1>Welcome <%= @user.name %>!</h1>
<h2>Upload your video</h2>

<%= form_tag upload_path do %>
  <div class="form-group">
      <%= label_tag :video %>
      <%= file_field_tag :video %>

      <%= submit_tag 'Upload Video', class: "btn btn-default" %>
    </div>
<% end %>

<%= button_to "Dev Test Button", upload_path %>

