<!DOCTYPE html>
<html>
<head>
  <title>Music Selfie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway+Dots|Roboto:400,100' rel='stylesheet' type='text/css'>
</head>
<body>
<%= image_tag("blk-texture.jpg", class: "bcg") %>
<%= yield %>

</body>
</html>
